@import url('https://fonts.googleapis.com/css?family=Muli:300,400,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Muli', sans-serif;
    background-color: rgb(241, 241, 241);
    height: 100%;
}

#main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 40px);
}

/* Title Bar */
#title-bar {
    display: flex;
    text-align: center;
    width: 100vw;
    height: 40px;
    background-color: rgb(0, 64, 107);
    color: rgba(250,250,250,.95);
}

#title-bar h1 {
    font-size: 1.35rem;
    font-weight: 400;
    width: 100%;
    align-self: center;
}

/* Row and Column Controls */
#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -20px 0 50px 0;
}

#controls > div {
    margin: 0 40px;
    padding: 8px 30px;
    text-align: center;
    border: 2px solid rgba(0, 64, 107, .1);
    background-color: rgba(0, 64, 107, .05);
}


/***** Table *****/
table, td, th {
    border: 1px solid #999;
    border-collapse: collapse;
}

table {
    width: 90vw;
}

th {
    position: relative;
    font-size: .85rem;
    font-weight: 800;
    padding: 16px 20px;
    border-bottom: 2px solid #999;
    background-color: rgba(0, 64, 107, .3);
}

th:hover {
    background-color: rgba(0, 64, 107, .375);
}

/* Options window for toggling if a column is sortable or filterable */
.options {
    display: flex;
    align-items: center;
    width: calc(100% + 2px);
    height: 30px;
    position: absolute;
    left: -1px;
    top: -36px;
    background-color: rgba(0, 64, 107, .05);
    border: 1px solid #bbb;
    border-radius: 8px 8px 0 0;
    display: none;
}

.options > div {
    display: inline-block;
    padding: 4px 2px 0px 2px;
}

.options > div button {
    font-size: .7rem;
    font-weight: 400;
    padding: 2px 2px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.options > div button:active {
    box-shadow: none;
}

.show {
    display: block !important;
}

th div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-header {
    padding: 0 12px;
}

td {
    font-size: .7rem;
    font-weight: 400;
    text-align: center;
    padding: 10px 20px;
}

.material-icons {
    font-size: 24px;
    color: rgba(0, 64, 107, .5);
    display: none;
}

.material-icons:hover {
    color: rgba(0, 64, 107, .75);
    cursor: pointer;
}

/***** END of Table *****/

/* Filter Menu Popup */
.menu {
    position: absolute;
    text-align: center;
    padding: 0 20px 10px 20px;
    background-color: rgb(0, 89, 148);
}

.menu h1 {
    color: rgba(250,250,250,.9);
    font-size: 1rem;
    font-weight: 400;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(250,250,250,.2);
}

.menu input {
    margin: 10px 0;
}

.menu span {
    color: #fff;
    font-size: .7rem;
    font-weight: 300;
    padding: 0 6px;
}

.checklist {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.checklist-btns {
    margin: 18px 0;
    align-self: center;
}

.checklist-btns > button {
    padding: 6px 16px;
    font-size: .75rem;
    font-weight: 800;
    color: #fff;
}

#cancel {
    border: none;
    background-color: transparent;
}

#apply {
    border: none;
    border-radius: 4px;
    text-shadow: 1px 1px 2px rgba(0,0,0, .2);
    box-shadow: 2px 2px 2px rgba(0,0,0, .2);
    background-color: rgba(255, 255, 255, .3);
}

#cancel:hover, #apply:hover {
    cursor: pointer;
}

#apply:hover {
    background-color: rgba(255, 255, 255, .4);
}